<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
<appSettings>
  <!--是否开启气泡提醒-->
  <add key="show_balloon" value="true"/>
  <!--
  需要监听的路径,通常就每个项目ui编辑器下的下的UI目录和layout目录
  -->
  <add key="watchPaths" value="F:\x1\editor\mobile_uieditor\assets\ui;F:\x1\editor\mobile_uieditor\assets\ui\layout;F:\x2\editor\mobile_uieditor\assets\ui;F:\x2\editor\mobile_uieditor\assets\ui\layout"/>
</appSettings>
</configuration>
